header>nav {
    background-color: lightgreen;
    height: 120px;
    padding: 10px;
    border-radius: 50px 0px 0px 0px;
}

header>nav>h1 {
    color: #090909;
    font-style: italic;
}

.isi-dropdown {
    display: none;
    background-color: #909090;
    position: absolute;
    z-index: 1;
}

img {
    display: inline;
    float: left;
}

li.nav-item>a {
    display: inline-block;
    background-color: #8c8;
    border-radius: 10px 0px 10px 0px;
    padding: 10px;
    color: #111;
    text-decoration: none;
}

li.nav-item>a:hover {
    color: #00ff0e;
    background-color: #191;
}

main {
    display: flex;
    width: 100%;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: #cbcdd1;
}

aside {
    font-style: italic;
    background-color: lightgray;
}

aside>ul {
    list-style: none;
}

li.nav-item {
    float: right;
    margin-right: 10px;
    list-style: none;
}

footer {
    background-color: #f0d0c0;
    text-align: center;
}
